/*Индекс-портфолио-контакты*/

:root {
  --primary-text-color: #2196f3;
  --brand-color: #ffff;
  --accent-color: #212121;
  --back-color: #757575;
  --background-color: #2f303a;
  --color-backs:rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Container*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
 /* outline: 1px solid tomato;*/
}

/*point*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*Tegi
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}*/

/*.section{
  padding-top: 100px;
  padding-bottom: 120px;
}*/

/*probnik
.section-desc {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}*/
 
/*hover-kontaktam*/
.information:hover,
.telefone:hover {
  color: var(--primary-text-color);
}

/*Шапка студия,портфолио,контакты ховер*/
.nav_item:hover {
  color: var(--primary-text-color);
}

/* Шапка Студия,Портфолио,Контакты*/
.nav_list{
  display: flex;
  margin-left: 93px;
}

/*Все ховер фокус*/
.button:hover,
.button:focus {
  background: var(--primary-text-color);
  color: var(--brand-color);
}

/*main-nav*/
.main-nav{
  display: flex;
  align-items: center;
}

/*Студия,Портфолио,Контакты*/
.nav_list .item {
  /*outline: 1px solid tomato;*/
  margin-right: 50px;
}

/*Auth-nav*/
.auth-nav{
  display: flex;
  margin-left: auto;
}

.auth-nav .item{
margin-left: 50px;
}

/*Логотип синий*/
.nav_logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1,19;
  /* or 119% */
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*Логотип*/
.logo {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1,19;
  /* or 119% */
  letter-spacing: 0.03em;
  color: var(--accent-color);
}


/*Студия Портфолио*/
.nav_item_list {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--primary-text-color);
  
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  /* or 114% */
  letter-spacing: 0.02em;
}


/*Портфолио*/ /*Котакты*/
.nav_item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);

  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  /* or 114% */
  letter-spacing: 0.02em;
}

/*info@devstudio.com*/
.information {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  /* or 114% */
  letter-spacing: 0.02em;
  color: var(--back-color);
}

/*tel+380961111111*/
.telefone {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 1,71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--back-color);
}

/*Эффективное решение*/
.hero-big {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
 
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--brand-color);
}

/*Заказ услуг кнопка*/
.hero_button_form {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 490px;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1,87;
  /*or 187% */
  letter-spacing: 0.06em;
  
  background-color: var(--primary-text-color);
  color: var(--brand-color);
  border-radius: 4px;
}

.hero {
  background-color: var(--background-color);
 
  margin-top: 0;
  margin-bottom: 94px;
  height: 600px;
}

/*feature-list*/
.feature-list{
  display: flex;
  flex-wrap: wrap;
}

.feature-list .item{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/*Tekst h2-h3*/
.section-desc {
  margin-top: 0;
  margin-bottom: 10px;
  
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: 1,14;
  /* or 114% */

  text-transform: uppercase;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

/*Текст описания товаров, и т.д.*/
.section-text {
 margin-top: 0px;
 margin-bottom: 94px;
 
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 1,71;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--back-color);
}

/*Чем  занимаемся-Наша команда*/
.section-title {
 margin-top: 10px;
 margin-bottom: 50px;
 
  font-family: "Roboto";
  font-weight: bold;
  font-size: 36px;
  line-height: 1,16;
  /* or 116% */
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
/*Изображение pic*/
.pic {
  margin-top: 0;
  margin-bottom: 30px;
}

.pic {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.pic {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

/* наша Команда*/
.section-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
 
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1,18;
  /*or 118%*/
  letter-spacing: 0.03em;
 
  color: var(--accent-color);
}

/*text*/
.text {
 margin-top: 0;
 margin-bottom: 124px;
 
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 1,18;
  /* or 118% */
  letter-spacing: 0.03em;

  color: var(--back-color);
}

/*Нижняя область страницы*/
.logo-text {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1,19;
  /* or 119% */
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/*addresa i tel*/
.inform {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 1,71;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--color-backs);

}

/*г.Киев пр-т ЛесиУкр*/
.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1,71;
  /* or 171% */
  letter-spacing: 0.03em;

  color: var(--brand-color);
}

/*портфолио-html*/

/*pic-container*/
.pic-container{
  width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.pic-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

/*Кнопки*/
.button {

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1,62;
  /* or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--accent-color);

  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
}

.button-container{
  margin-left: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.button:first-child{
  border: none;
  border-right: 30px solid #ffff;
}

.button-container{

 margin-top: 136px;
 margin-bottom: 56px;
 }

/*Тексты заголовков 2-й лист*/
/*Технокряк*/ /*Постер*/ /*Ресторан*/
/*Проект*/ /*Проект Бох*/ /*Инспиратион*/
/*Лиметед*/ /*ЛАБ*/ /*Гровинг*/
.subject {
   margin-top: 0;
   margin-bottom: 4px;

  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /*or 200% */
  letter-spacing: 0.06em;

  color: var(--accent-color);
}

.subtitle-text {
 margin-top: 0px;
 margin-bottom: 50px;

  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 1,87;
  /* or 187% */
  letter-spacing: 0.03em;

  color: var(--back-color);
}

.logo_nav {

  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1,19;
  /* or 119% */
  letter-spacing: 0.03em;

  color: var(--brand-color);
}

.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background-color: var(--background-color);
}
